* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  /* text-decoration: none; */
}

body {
  font-family: montserrat;
}

nav {
  background: #2c3e50;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.logo {
  color: whitesmoke;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 7px;
}

nav ul li a {
  color: whitesmoke;
  padding: 7px 13px;
  /* border-radius: 3px; */
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

a.active,
a:hover {
  transition: 0.5s;
}

.checkbtn {
  color: #fff;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* hero section */

.icon-para {
  border: 1px solid white;
  width: 150px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  color: whitesmoke;
}

.hero-left h1 {
  padding: 40px 0;
  font-size: 60px;
}

.hero-left .social-icons {
  font-size: 30px;
  color: grey;
  margin: 20px 10px;
}

.social-icons a {
  color: whitesmoke;
}

.social-icons a i {
  font-size: 30px;
  color: purple;
  padding-right: 10px;
  transition: all ease;
}

.social-icons a i:hover {
  color: blueviolet;
}

.hero-right {
  float: right;
  width: 50%;
}

.hero-right .download-resume {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  width: 180px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 50%;
  right: 10%;
}

.hero-right .download-resume a {
  text-decoration: none;
  color: whitesmoke;
}

.hero-right .download-resume a i {
  font-size: 15px;
  color: whitesmoke;
}

/* about */

.about {
  /* height: 80vh; */
  width: 100%;
  background-color: #0d1117;
}

.img-about {
  width: 60%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.about-right {
  /* margin-top: 50px; */
  margin: 50px auto;
}

.icons i {
  font-size: 30px;
  color: blueviolet;
}

.about-description {
  padding: 40px 0;
}

.about-description p {
  font-size: 20px;
  color: whitesmoke;
}

.learn-more {
  border: 2px solid whitesmoke;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.learn-more:hover {
  background-color: transparent;
  transform: scale(1.09);
}

.learn-more a {
  color: #fff;
  text-decoration: none;
}
/* portfolio page */

.portfolio {
  background-color: #1e293b;
}

.portfolio header h1 {
  color: purple;
  font-weight: 600;
  text-align: center;
}

.border_bottom {
  border: 2px solid green;
  width: 200px;
  margin: auto;
}

/* skills form */
.skills {
  background-color: #5875a3;
}

.languages,
.frameworks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icons i {
  font-size: 9em;
  color: purple;
  margin: 20px 30px;
  border: 2px solid rgb(167, 167, 52);
  padding: 20px 35px;
}

.btn-skills {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.skills-description p {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.skills_lists h2 {
  font-size: 80px;
}

.skills-description {
  font-size: 20px;
}
/* contact form */

.contact {
  background-color: #0d1117;
}

.section-header h3 {
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.section-header p {
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
}

.state-address p,
.email-adress p,
.phone-no p {
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
}

.state-address,
.email-adress,
.phone-no {
  background-color: #2c2c2c;
  border: 1px solid rgb(121, 128, 62);
  color: whitesmoke;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.state-address i,
.email-adress i,
.phone-no i {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.submit-form-btn button {
  padding: 15px;
  background-color: #2c2c2c;
  color: whitesmoke;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid rgb(121, 128, 62);
  transition: 0.3s all ease;
}

.submit-form-btn button:hover {
  transform: scale(1.09);
}

/* footer */

.footer {
  width: 100%;
  background-color: #1e293b;
}

.footer p {
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .footer p {
    font-size: medium;
    padding: 15px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .footer p {
    font-size: 30;
    padding: 10px;
  }

  .hero {
    width: 100%;
    background-position: center;
  }
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
  }

  .footer p {
    font-size: medium;
    padding: 5px;
  }

  .container-hero {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }

  .hero {
    width: 100%;
    /* background-position: left; */
  }

  .hero-left {
    width: 100%;
    /* flex: 1; */
  }

  .hero-right {
    width: 100%;
    flex: 1;
  }

  .hero-left h1 {
    padding: 40px 0;
    font-size: 50px;
  }

  .container-hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
  .contact_page {
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
  }
}
